{{XmlBanner}}
<Project Sdk="Microsoft.NET.Sdk">

    <PropertyGroup>
        <Version>{{Version}}</Version>
        <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    </PropertyGroup>

    <ItemGroup>
        <None Include="THIRD-PARTY-NOTICES.txt" Pack="true" PackagePath="\" />
    </ItemGroup>

</Project>
