{{XmlBanner}}
<Project Sdk="Microsoft.NET.Sdk">

    <PropertyGroup>
        <Version>{{Version}}</Version>
        <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    </PropertyGroup>

    <ItemGroup>
        <ProjectReference Include="..\{{ApiProjectName}}\{{ApiProjectName}}.csproj" />
    </ItemGroup>

</Project>
