{{Namespace}} third-party notices
===================================

The XML documentation comments on the {{ApiClass}} commands ({{DocumentedCommands}} of
{{CommandCount}}) are derived from the Khronos OpenGL reference pages (the gl4
directory of the OpenGL-Refpages repository, commit {{ShortDocTag}}).

The reference pages are copyright their respective authors and are made available by
The Khronos Group under the SGI Free Software License B, version 2.0. Portions are
copyright (c) 1991-2006 Silicon Graphics, Inc. and (c) 2010-2014 The Khronos Group Inc.

Source and license text:
  https://github.com/KhronosGroup/OpenGL-Refpages
  https://www.khronos.org/registry/OpenGL-Refpages/LICENSES/LicenseRef-FreeB.txt
