    /// <summary>Converts a {{SourceType}} to a {{TargetType}}.</summary>
    public static {{Keyword}} operator {{TargetType}}({{SourceType}} value) =>
        new(({{TargetVectorType}})value.Min, ({{TargetVectorType}})value.Max);
