    /// <summary>Gets the size along the X axis.</summary>
    public readonly {{ScalarType}} Width => Size.X;

    /// <summary>Gets the size along the Y axis.</summary>
    public readonly {{ScalarType}} Height => Size.Y;

    /// <summary>Gets the size along the Z axis.</summary>
    public readonly {{ScalarType}} Depth => Size.Z;

    /// <summary>Gets the 3D volume.</summary>
    public readonly {{ScalarType}} Volume => Width * Height * Depth;
