    /// <summary>Gets or sets a component by zero-based index.</summary>
    public {{ScalarType}} this[int index]
    {
        readonly get
        {
            if ((uint)index >= ComponentCount)
                MathsThrowHelper.ThrowComponentIndexOutOfRange(index, {{MaxIndex}});

            return Unsafe.Add(ref Unsafe.AsRef(in X), index);
        }
        set
        {
            if ((uint)index >= ComponentCount)
                MathsThrowHelper.ThrowComponentIndexOutOfRange(index, {{MaxIndex}});

            Unsafe.Add(ref X, index) = value;
        }
    }

    /// <summary>Gets a mutable reference to a component by zero-based index.</summary>
    public static ref {{ScalarType}} ComponentRef(ref {{TypeName}} value, int index)
    {
        if ((uint)index >= ComponentCount)
            MathsThrowHelper.ThrowComponentIndexOutOfRange(index, {{MaxIndex}});

        return ref Unsafe.Add(ref value.X, index);
    }
