    /// <summary>{{KeywordCapitalized}}ly converts a {{SourceType}} to a {{TargetType}}.</summary>
    public static {{Keyword}} operator {{TargetType}}({{SourceType}} value) =>
        new(({{TargetScalarType}})value.Min, ({{TargetScalarType}})value.Max);
