<Project Sdk="Microsoft.NET.Sdk">

    <PropertyGroup>
        <Version>{{Version}}</Version>
        <PackageId>AlvorKit.Maths.Primitives</PackageId>
        <PackageReadmeFile>README.md</PackageReadmeFile>
        <PackageLicenseExpression>MIT</PackageLicenseExpression>
        <GeneratePackageOnBuild>True</GeneratePackageOnBuild>
        <TargetFramework>net10.0</TargetFramework>
        <ImplicitUsings>enable</ImplicitUsings>
        <Nullable>enable</Nullable>
        <EnforceCodeStyleInBuild>true</EnforceCodeStyleInBuild>
        <GenerateDocumentationFile>true</GenerateDocumentationFile>
        <BaseOutputPath>..\..\..\bin\$(MSBuildProjectName)</BaseOutputPath>
        <AppendTargetFrameworkToOutputPath>false</AppendTargetFrameworkToOutputPath>
    </PropertyGroup>

    <ItemGroup>
        <None Include="..\..\..\README.md" Pack="true" PackagePath="\" Visible="false" />
        <Using Include="System.Diagnostics" />
        <Using Include="System.Diagnostics.CodeAnalysis" />
        <Using Include="System.Numerics" />
        <Using Include="System.Runtime.CompilerServices" />
        <Using Include="System.Runtime.InteropServices" />
    </ItemGroup>

</Project>
