    /// <summary>Explicitly converts a column-major matrix to a row-vector System.Numerics matrix.</summary>
    public static explicit operator System.Numerics.Matrix4x4(Mat4 value) =>
        System.Numerics.Matrix4x4.Transpose(value.packed);

    /// <summary>Explicitly converts a row-vector System.Numerics matrix to a column-major matrix.</summary>
    public static explicit operator Mat4(System.Numerics.Matrix4x4 value) =>
        new(System.Numerics.Matrix4x4.Transpose(value));
