    /// <summary>Explicitly converts a column-major matrix to a row-vector System.Numerics matrix.</summary>
    public static explicit operator System.Numerics.Matrix3x2(Mat3x2 value) =>
        value.packed;

    /// <summary>Explicitly converts a row-vector System.Numerics matrix to a column-major matrix.</summary>
    public static explicit operator Mat3x2(System.Numerics.Matrix3x2 value) =>
        new(value);

