    /// <summary>Gets or sets the matrix diagonal.</summary>
    public {{DiagonalType}} Diagonal
    {
        readonly get => new({{Components}});
        set
        {
{{Assignments}}
        }
    }

