    /// <summary>Creates a vector from its packed System.Numerics representation.</summary>
    [MethodImpl(MethodImplOptions.AggressiveInlining)]
    private {{TypeName}}(System.Numerics.Vector{{Dimension}} value)
        : this({{Arguments}})
    {
        packed = value;
    }
