
    /// <summary>Converts a {{TypeName}} to <see cref="System.Numerics.Plane" />.</summary>
    public static implicit operator System.Numerics.Plane({{TypeName}} value) =>
        Unsafe.BitCast<{{TypeName}}, System.Numerics.Plane>(value);

    /// <summary>Converts a <see cref="System.Numerics.Plane" /> to a {{TypeName}}.</summary>
    public static implicit operator {{TypeName}}(System.Numerics.Plane value) =>
        Unsafe.BitCast<System.Numerics.Plane, {{TypeName}}>(value);
