    /// <summary>Computes the Hamilton product with the packed algorithm used by System.Numerics.</summary>
    [MethodImpl(MethodImplOptions.AggressiveInlining)]
    private static {{TypeName}} HamiltonProduct({{TypeName}} left, {{TypeName}} right)
    {
        var rightPacked = Unsafe.BitCast<{{TypeName}}, System.Runtime.Intrinsics.Vector256<double>>(right);
        var result = rightPacked * left.W;
        result = System.Runtime.Intrinsics.Vector256.MultiplyAddEstimate(
            System.Runtime.Intrinsics.Vector256.Shuffle(
                rightPacked,
                System.Runtime.Intrinsics.Vector256.Create(3L, 2L, 1L, 0L)) * left.X,
            System.Runtime.Intrinsics.Vector256.Create(+1d, -1d, +1d, -1d),
            result);
        result = System.Runtime.Intrinsics.Vector256.MultiplyAddEstimate(
            System.Runtime.Intrinsics.Vector256.Shuffle(
                rightPacked,
                System.Runtime.Intrinsics.Vector256.Create(2L, 3L, 0L, 1L)) * left.Y,
            System.Runtime.Intrinsics.Vector256.Create(+1d, +1d, -1d, -1d),
            result);
        result = System.Runtime.Intrinsics.Vector256.MultiplyAddEstimate(
            System.Runtime.Intrinsics.Vector256.Shuffle(
                rightPacked,
                System.Runtime.Intrinsics.Vector256.Create(1L, 0L, 3L, 2L)) * left.Z,
            System.Runtime.Intrinsics.Vector256.Create(-1d, +1d, +1d, -1d),
            result);
        return Unsafe.BitCast<System.Runtime.Intrinsics.Vector256<double>, {{TypeName}}>(result);
    }

