    /// <summary>Converts to a System.Numerics quaternion.</summary>
    public static implicit operator System.Numerics.Quaternion({{TypeName}} value) =>
        value.packed;

    /// <summary>Converts from a System.Numerics quaternion.</summary>
    public static implicit operator {{TypeName}}(System.Numerics.Quaternion value) =>
        FromPacked(value);

