    /// <summary>Converts to a System.Numerics quaternion.</summary>
    public static explicit operator System.Numerics.Quaternion({{TypeName}} value) =>
        new(value.X, value.Y, value.Z, value.W);

    /// <summary>Converts from a System.Numerics quaternion.</summary>
    public static explicit operator {{TypeName}}(System.Numerics.Quaternion value) =>
        new(value.X, value.Y, value.Z, value.W);

