        new(
            (left.W * right.X) + (left.X * right.W) + (left.Y * right.Z) - (left.Z * right.Y),
            (left.W * right.Y) + (left.Y * right.W) + (left.Z * right.X) - (left.X * right.Z),
            (left.W * right.Z) + (left.Z * right.W) + (left.X * right.Y) - (left.Y * right.X),
            (left.W * right.W) - (left.X * right.X) - (left.Y * right.Y) - (left.Z * right.Z));
