    /// <summary>{{KeywordCapitalized}}ly converts a {{SourceType}} to a {{TargetType}}.</summary>
    public static {{Keyword}} operator {{TargetType}}({{SourceType}} value) =>
        new(({{TargetVector3Type}})value.Center, ({{TargetScalarType}})value.Radius);
