    /// <summary>{{KeywordCapitalized}}ly converts a {{SourceType}} to a {{TargetType}}.</summary>
    public static {{Keyword}} operator {{TargetType}}({{SourceType}} value) =>
        new(({{TargetBox2Type}})value.Bounds, ({{TargetIntervalType}})value.Depth);

