{{Comment}}        {{SetAccess}} EntMutator<T> {{Name}}(in {{Type}} value)
        {
            mut.Ent.{{AccessorName}} = value;
            return mut;
        }

{{Comment}}        {{GetAccess}} {{Type}} {{Name}}() => mut.Ent.{{AccessorName}};

