{{Comment}}        {{Access}} {{Type}} {{AccessorName}}
        {
            {{GetPrefix}}get => ent.GetArchetypal<{{Type}}, {{ClassName}}.{{Name}}, {{ClassName}}>()!;
            {{SetPrefix}}set => ent.SetArchetypal<{{Type}}, {{ClassName}}.{{Name}}, {{ClassName}}>(value);
        }
