{{SourceHeader}}namespace {{Namespace}};

/// <summary>
/// {{ApiSummary}}
/// Use through a backend implementation such as <c>{{BackendClass}}</c>.
/// </summary>
[global::System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]
public partial class {{ApiClass}}
{
{{Members}}}
