{{SourceHeader}}namespace {{Namespace}};

/// <summary>Implements <see cref="{{ApiClass}}"/> against the {{NativeLibrary}} shared library.</summary>
public class {{BackendClass}} : {{ApiClass}}
{
{{Methods}}}
