    public int FaceProperties({{FaceType}} face, ReadOnlySpan<FtParameter> properties)
    {
        fixed (FtParameter* propertiesPointer = properties)
            return FaceProperties(face, (uint)properties.Length, propertiesPointer);
    }
