{{TypeHeader}}/// <summary>An opaque <c>{{NativeName}}</c> handle; <c>default</c> is the null handle.</summary>
/// <param name="Handle">Native <c>{{NativeName}}*</c> pointer value.</param>
public readonly record struct {{ManagedName}}(nint Handle);
