
    /// <summary>Imports native <c>{{NativeName}}</c>.</summary>
    [LibraryImport(Lib, EntryPoint = "{{NativeName}}")]
    [UnmanagedCallConv(CallConvs = [typeof(CallConvCdecl)])]
    public static partial {{ReturnInteropType}} {{ManagedName}}({{Signature}});
