{{SourceHeader}}namespace {{Namespace}};

/// <summary>A <c>{{NativeLibrary}}</c> test double for <see cref="{{ApiClass}}"/> that ignores calls and returns default values.</summary>
[global::System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]
public class {{ApiClass}}Noop : {{ApiClass}}
{
{{Methods}}}
