
{{Documentation}}    public unsafe ReadOnlySpan<{{ElementType}}> {{ManagedName}}({{Signature}})
    {
        var pointer = {{ManagedName}}({{CallArguments}});
        return {{NullCheck}} || count <= 0 ? default : new ReadOnlySpan<{{ElementType}}>((void*)pointer, count);
    }
