
    /// <summary>Converts this native <c>{{NativeName}}</c> layout into a managed <see cref="UInt128"/>.</summary>
    /// <returns>The equivalent managed 128-bit integer for <c>{{NativeName}}</c>.</returns>
    public readonly UInt128 ToUInt128() =>
        ((UInt128)High64 << 64) | Low64;

    /// <summary>Converts a managed <see cref="UInt128"/> into native <c>{{NativeName}}</c> layout.</summary>
    /// <param name="value">The managed 128-bit integer to encode as <c>{{NativeName}}</c>.</param>
    /// <returns>The equivalent native <c>{{NativeName}}</c> value.</returns>
    public static {{ManagedName}} FromUInt128(UInt128 value) =>
        new() { Low64 = (ulong)value, High64 = (ulong)(value >> 64) };
