    /// <summary>Widens this <c>GLuint</c> OpenGL object name wrapper to the generic <see cref="GlHandle"/> handle.</summary>
    public static implicit operator GlHandle({{Handle}} handle) => new(handle.Handle);
