    public virtual ReadOnlySpan<char> {{ManagedName}}({{Signature}})
    {
        void* native = destination.Length <= 1024 ? null : NativeMemory.Alloc((nuint)destination.Length);
        try
        {
            Span<byte> buffer = native != null ? new Span<byte>(native, destination.Length) : stackalloc byte[destination.Length];
            int written;
            fixed (byte* bufferPtr = buffer)
                this.{{ManagedName}}({{CoreArgs}});
            return destination[..Encoding.UTF8.GetChars(buffer[..written], destination)];
        }
        finally
        {
            NativeMemory.Free(native);
        }
    }
