{{SourceHeader}}namespace {{Namespace}};

/// <summary>A <see cref="{{ApiClass}}"/> for native OpenGL commands from <c>gl.xml</c> that ignores every call and returns default values.</summary>
[global::System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]
public class {{ApiClass}}Noop : {{ApiClass}}
{
{{Methods}}}
